.leftdiv{
    width: 50%;
}

.fill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill img{
    object-fit: fill;
    max-width: 300px;
    min-height: 100%;
    border-radius: 15px 0 0 15px;
}

.rightDiv{
    flex-grow: 1;
    max-width: 300px;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    background-color: lightcyan;
}

.containerCenter {
    display: flex;
    margin: auto;
    
    position: absolute;
    max-width: 620px;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 15px;
}

.btn-success {
    width: 100%;
}

.content {
    margin: 5px;
    padding: 5px 0 5px 0;
    align-items: center;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .leftdiv, .rightDiv {
        max-width: 620px;
    } 

    .rightDiv {
        border-radius: 0 0 15px 15px;
    }

    .fill img{
        width: 300px;
        max-height: 100%;
        border-radius: 15px 15px 0 0;
    }

    .containerCenter {
        display: grid;
        max-width: 100%;
      }
  }